<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mapper.LogMapper"> 

	<insert id="insert">
	    <selectKey keyProperty="log_id" order="BEFORE" resultType="long">
	        select seq_expense_log.nextval from dual
	    </selectKey>
	    INSERT INTO Expense_Log 
	    (log_id, user_id, expense_name, category_name, method_name, amount, payment_date)
	    VALUES
	    (
	        #{log_id}, 
	        #{user_id}, 
	        #{expense_name, jdbcType=VARCHAR},   #{category_name, jdbcType=VARCHAR},  #{method_name, jdbcType=VARCHAR},    #{amount}, 
	        #{payment_date}
	    )
	</insert>

    <select id="getMonthlyStats" resultType="java.util.Map">
        SELECT 
            TO_CHAR(payment_date, 'YYYY-MM') as "MONTH", 
            SUM(amount) as "TOTAL"
        FROM Expense_Log
        WHERE user_id = #{user_id}
        GROUP BY TO_CHAR(payment_date, 'YYYY-MM')
        ORDER BY "MONTH" ASC
    </select>
    
    <select id="getFilteredMonthlyStats" resultType="java.util.Map">
        SELECT 
            TO_CHAR(payment_date, 'YYYY-MM') as "MONTH", 
            SUM(amount) as "TOTAL"
        FROM Expense_Log
        WHERE user_id = #{user_id}
        <if test="category_name != null and category_name != ''">
            AND category_name = #{category_name}
        </if>
        <if test="method_name != null and method_name != ''">
            AND method_name = #{method_name}
        </if>
        GROUP BY TO_CHAR(payment_date, 'YYYY-MM')
        ORDER BY "MONTH" ASC
    </select>

    <select id="getFilteredCategoryStats" resultType="com.myproject.domain.StatsDTO">
        SELECT 
            category_name, 
            SUM(amount) as total_amount
        FROM Expense_Log
        WHERE user_id = #{user_id}
        <if test="category_name != null and category_name != ''">
            AND category_name = #{category_name}
        </if>
        <if test="method_name != null and method_name != ''">
            AND method_name = #{method_name}
        </if>
        GROUP BY category_name
        ORDER BY total_amount DESC
    </select>
    
    <select id="getFilteredLogList" resultType="com.myproject.domain.LogVO">
        SELECT * FROM Expense_Log
        WHERE user_id = #{user_id}
        <if test="category_name != null and category_name != ''">
            AND category_name = #{category_name}
        </if>
        <if test="method_name != null and method_name != ''">
            AND method_name = #{method_name}
        </if>
        ORDER BY payment_date DESC
    </select>
    
</mapper>